
.carousel-container {
    width: 100%;
    margin: 0 auto;
}

.landing-body {
    /* height: 100%;
    width: 100%; */
    /* margin: 50px 0 0 0; */
    overflow-x: hidden;
}

.img-container {
    height: 800px;
}

form input {
    padding: 10px;
    margin: 10px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.weight-division-div {
    margin-top: 200px;
    height: 500px;
    font-size: 1.3em;
}

.upcoming-fights-div {
    height: 600px;
    font-size: 1.3em;
    font-weight: 600;
}

.tournament-card {
    /* border: 3px solid darkblue; */
    
}

.enquiry-container {
    height: 600px;
    margin-top: 300px;
}

.tournaments-div {
   margin-top: 300px;
   
}

/* .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
} */

@media (max-width: 390px) {
    img {
        max-width: 390px;
        height: 300px;
    }
    .carousel-container {
        max-width: 100%;
        margin: 0 auto;
    }
    .landing-body{
        max-width: 390px;
    }
}

