
.form-body {
    display: flex;
    max-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#647DEE, #7F53AC);
}

.form-container {
    max-width: 50%;
    max-height: 100%;
    margin: 20px 0;
    background: #fff ;
    padding: 25px 30px;
    border-radius: 5px;
}

.form-container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form-container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    border-radius: 10px;
    background: linear-gradient(#647DEE, #7F53AC); 
}

.form-container form .user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-info .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-info .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-info .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-info .input-box input:focus, 
.user-info .input-box input:valid {
    border-color: #7F53AC;
}

form .gender .gender-title {
    font-size: 1.2em;
    font-weight: 500;
}

form .gender .category {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}

form .button {
    height: 45px;
    margin: 45px 0;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg, #647DEE, #7F53AC);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    border: none;
}


form .button:hover {
    background: linear-gradient(-135deg, #647DEE, #7F53AC);
}



/* @media ( max-width: 390px) {
    .form-container{
        height: 100%;
        max-width: 100%;
    }
    .form-body {
        height: 100%;
    }
    form .user-info .input-box{
        margin: 15px;
        width: 100%;
    }
    form .gender .category {
        width: 100%;
    }
} */

@media ( max-width: 415px){
    .form-container{
        height: 100%;
        max-width: 100%;
    }
    .form-body {
        height: 100%;
    }
    form .user-info .input-box{
        margin: 15px;
        width: 100%;
    }
    form .gender .category {
        width: 100%;
    }
}

