
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.landing-page-title {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center  ;
    margin: 20px 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;

}

.App{
    width: 100%;
    margin: 0 auto;
    
}

.App::-webkit-scrollbar{
    display: none;
}



@media (max-width: 390px){
    .App {
        max-width: 390px;
        min-height: 100vh;
        margin: 0 auto;
    }
    footer {
        padding: 2px 0 0 0;
        margin: 50px 0 0 0;
    }
    
}
